
*{
    margin: 0;
    padding: 0;
}
:root{
    --bgcolor-body: #195D84 ; /* #195D84;*/
    --bgcolor-contenido:#121725;
    --bgcolor-footer-menu: #202B46;
    --bgcolor-marketing: #f6e9f5;
    --bgcolor-border-texto: #F6F9FC;
    --bgcolor-title:#02112A;
    --bgcolor-card: #367391;
    --bgcolor-title-card: #ff6e65;
}

header.header-home{
    min-height: 80px;
    background-color:  var(--bgcolor-footer-menu);
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: flex-end;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 3;

}
.contetn-info-chatgpt{
    display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bgcolor-body);
}
.content-infor2-chatgpt {
    width: 100%;
    background-color: var(--bgcolor-body);
}
.title-info2 {
    margin-top: 20px;
}
.content-info2 {
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        min-height: 550px;
        justify-content: center;
}
.content-mejoras {
    display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-bottom: 30px;
        width: 90%;
}
.content-mejoras-box {
    width: 400px !important;
    border: 1px solid  var(--bgcolor-card);
    background-color: var(--bgcolor-card);
    border-radius: 10px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 10px 13px 21px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 13px 21px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 13px 21px -11px rgba(0, 0, 0, 0.75);
}
.title-informacion {
    margin-top: 20px;
}
h3.h3-informacion {
    color: #fdf2f2;
    font-weight: bold;
}
p.parrafo-informacion {
    line-height: 28px;
    font-size: 18px;
    color: #fff;
}
.title-info2 > h2 {
    color: var(--bgcolor-title-card);
    font-weight: bold;
}
.content-texto {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 450px;
    align-items: center;
}
.content-parrafo {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
h1.title-h1-chatgpt {
   color: var(--bgcolor-title-card);
   font-weight: bold;
}
p.detalle-chatgpt {
    text-align: justify;
    line-height: 28px;
    font-size: 18px;
    color:#fff;
}


.content-index-chatgpt {
    width: 45%;
    background-color: var(--bgcolor-card);
    border-radius: 10px;
    -webkit-box-shadow: 10px 0px 22px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 0px 22px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 0px 22px -11px rgba(0, 0, 0, 0.75);
    padding: 10px;
}
.content-index-image-chatgpt {
    width: 55%;
}

.image-fondo-chatgpt {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
img.img-aspectobasico-chatgpt {
    width: 84%;
    border-radius: 10px;
    height: 310px;
    -webkit-box-shadow: 10px 9px 19px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 19px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 19px -6px rgba(0,0,0,0.75);
}

.iconnavbar {
    width: 40px;
    height: 40px;
}
img#menu-bar {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header-home > h1{
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 12px 0 #41330a;
}

a.nav-link.active {
    color: #ff6e65 !important;
    border-bottom: 1px solid #ff6e65;
    font-size: 19px;
}
a.nav-link {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    font-size: 19px;
}

.slider-home {
    height: 540px;
    background-color:var(--bgcolor-body);
}

.publicidad {
    height: 40px;
    background-color: var(--bgcolor-body);
}
.content-cursos {
    min-height: 600px;
    background-color: var(--bgcolor-body);
    padding-top: 20px;
    padding-bottom: 30px;
}
footer.footer {
    min-height: 100px;
    background-color:  #202B46;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.bannercss{
    height: 540px;
}
.title-cursos > h1{
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.rowflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; 
    margin: 0px auto;
    width: 90%;
}
.rowcolum{
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-wrap: wrap; 
    margin: 0px auto;
    width: 90%;
}


h1.title-mensaje {
    position: absolute;
    top: 225px;
    left: 21%;
    font-size: 80px;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 12px 0 #41330a;
}
.tab-content-cursos{
    min-height: 700px;
    background-color: #1b1c1f;
}
.content-tab-texto {
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
    padding-bottom: 40px;
}
.chat-content {
    margin-top: 20px;
    height: 500px;
    background-color: #6f7aaf;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.chat-ia {
    background-color: #153915;
    border-radius: 10px;
    margin-top: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    color: #fff;
    width: 100%;
    -webkit-box-shadow: 18px 20px 24px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 20px 24px -11px rgba(0,0,0,0.75);
box-shadow: 18px 20px 24px -11px rgba(0,0,0,0.75);
}
.chat-ia  > h6{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    height: 36px;
    width: 40px;
    background-color: #4e3e3e;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

 .chat-person > h6{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    height: 36px;
    width: 40px;
    background: rgb(32, 80, 152);
    color: #fff;
    text-align: center;
    padding-top: 5px;
}
.chat-ia  > p,.chat-person > p{
  font-size: 15px;
}
.chat-ia > pre{
    white-space: pre-wrap;
    font-size: 15px;
    text-align: justify;
}
.row.row-chat {
    margin-top: 15px;
}
pre.texto-chatImage{
    white-space: pre-wrap;
    color: #fff;
    font-size: 16px;
}
.row.row-consulta {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 15px;
}
.col-12.content-chat-consulta {
    display: flex;
    gap: 11px;
    flex-direction: row;
}
.chat-person {
    background-color: #162e4a;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    width: 80%;
    -webkit-box-shadow: 18px 20px 24px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 20px 24px -11px rgba(0,0,0,0.75);
box-shadow: 18px 20px 24px -11px rgba(0,0,0,0.75);
}
.chat-person-content {
    display: flex;
    justify-content: flex-end;
}
nav#navbar-menu {
    width: 100%;
    background-color: var(--bgcolor-footer-menu) !important;
    display: flex;
    justify-content: flex-end;
}
#navbar-menu ul{
    list-style: none;
}


/* items del menu */

#navbar-menu ul li > ul li {
    background-color:#2e518b;

   }
   #navbar-menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:16px;
    font-weight: bold;
    padding:10px;
    letter-spacing:1px;
   }

  

   #navbar-menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   #navbar-menu ul li:hover {
    background:#5b78a7;

   }
   /*Menu desplegable*/
   #navbar-menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
    z-index: 2;
   }
   #navbar-menu  ul ul li {
    float:none;
    width:150px
   }
   #navbar-menu ul li.active {
    border-bottom: 3px solid #fff;
}
   /* enlaces de los items del menu desplegable */

#navbar-menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
/* items del menu desplegable al pasar el ratón */

#navbar-menu ul li:hover > ul {
    display:block;
   }
ul.ul-menu {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        width: 40%;

}

.card.card-mat {
    background-color: #4e75ab;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
    -webkit-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
}

.card.card-hist {
    background-color: #4e75ab;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
    -webkit-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
}

.card.card-leng {
    background-color: #4e75ab;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
    -webkit-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
}
.card.card-cie {
    background-color: #4e75ab;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
    -webkit-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
box-shadow: 10px 13px 25px -11px rgba(0,0,0,0.75);
}
.card.card-mat:hover{
    transform: scale(1.05);
}
.card.card-leng:hover{
    transform: scale(1.05);
}
.card.card-cie:hover{
    transform: scale(1.05);
}
.card.card-hist:hover{
    transform: scale(1.05);
}

h5.card-title.title-curso-card {
    text-align: center;
    color: #ff6e65;
    font-weight: bold;
}
.alert.alert-danger.content-alert-image{
    margin-top: 15px;
}


p.footer-mensaje{
    text-align: center;
    color: #fff;
    font-size: 20px;

}

p.card-text.desripction-card {
    margin-bottom: 0px;
    height: 120px;
    text-align: justify;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}
h3.title-mensaje-empiezaia{
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.btn-content {
    margin-top: 17px;
    display: flex;
    justify-content: flex-end;
}

button#nav-home-tab {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
button.active#nav-home-tab {
    color: #000;
}

button.active#nav-profile-tab {
    color: #000;
}
button#nav-profile-tab {
    font-weight: bold;
    font-size: 17px;
    color: #fff;
}
label.form-label.label-image{
    color:#fff;
}
.col-12.respuestaImage > h6{
    color: #fff;
}
.col-12.respuestaImage{
    margin-top: 15px;
    padding-left: 15px;
}

.content-chat-image {
    margin: 0 auto;
    width: 90%;
    margin-top: 35px;
    padding-bottom: 30px;
}
.row.rowflexchat {
    height: 300px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 15px;

    margin-left: 26px;
    margin-bottom: 15px;
}
.chat-image {
    min-height: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}
h2.title-chatgpt-chat {
    text-align: center;
    font-weight: bold;
    color: #2e518b ;
}
img#imgloadImage {
    height: 100%;
    width: 100%;
}
.col-12.col-sm-12.col-md-12.content-imageload {
    padding: 0;
    height: 300px;
    width: 300px;
}

.content-info{
    background-color: var(--bgcolor-body);
    width: 100%;
}
.title-ventajas-ia {
    text-align: center;
    margin-top: 20px;
}
.title-ventajas-ia >h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--bgcolor-title-card);
}

.content-ventajas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        margin-top: 20px;
        flex-wrap: wrap;
}
.ventajas {
    width: 400px;
    height: 450px;
    border: 2px solid #367391;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #367391;
    transition: transform 2s ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: 10px 13px 21px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 13px 21px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 13px 21px -11px rgba(0, 0, 0, 0.75);
}
.ventajas:hover{
    transform: scale(1.05);
    transition: transform 2.05s ease-in-out;
}

.title-ventajas {
    min-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.img-ventajas {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.content-description-ventaja {
    width: 100%;
    height: 160px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.img-ventajas > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: width 2s;
}
.img-ventajas > img:hover{
    width: 80%;
    height: 200px;
    border-radius: 10px;
}
.title-ventajas >h3{
    color: #ff6e65;
    font-weight: bold;
}


.mensaje-empezarchatgpt {
    margin-top: 20px;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.mensaje-empezarchatgpt >p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.content-description-ventaja > p{
    font-size: 18px;
    color: #faeffc;
    text-align: justify;
    line-height: 27px;
}


@media (min-width:992px) and (max-width:1200px){

    h1#title-mensajebanner1 , h1#title-mensajebanner, h1#title-mensajebanner2{
        position: absolute;
        left: 10%;
    }
}

@media (min-width:768px) and (max-width:992px){
    h1#title-mensajebanner1 , h1#title-mensajebanner, h1#title-mensajebanner2{
        position: absolute;
        left: 0px;
    }
    #btn-content-row{
        display: flex;
        flex-direction: column;
        gap: 15px;
       }
    #content-texto{
        display: flex;
        flex-direction: column;
    }
    #content-index-chatgpt{
        width: 90%;
        margin-top: 20px;
    }
    #content-index-image-chatgpt{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #image-fondo-chatgpt{
        width: 90%;
    }
    img#img-aspecto-basicp-chatgpt{
        width: 100%;
    }

}

@media (min-width:576px) and (max-width:768px){

   #btn-content-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
   }
   #enviar-consulta,#btn-limpar-chat,#btn-ver-cursos{
    width: 100%;
   }
   #title-mensajebanner, #title-mensajebanner1,#title-mensajebanner2{
    font-size: 60px;
    left: 20px;
}
button#enviar-imageIA {
    width: 100%;
    margin-top: 15px;
}

div#btn-chat-tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div#btn-chat-images {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
ul#ul-menu-responsive{
    width: 100%;
}
#content-chat-consulta{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

#content-texto{
    display: flex;
    flex-direction: column;
}
#content-index-chatgpt{
    width: 90%;
    margin-top: 20px;
}
#content-index-image-chatgpt{
    width: 100%;
    display: flex;
    justify-content: center;
}
#image-fondo-chatgpt{
    width: 90%;
}
img#img-aspecto-basicp-chatgpt{
    width: 100%;
}


}

@media (max-width:576px){

    #btn-content-row{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    #enviar-consulta,#btn-limpar-chat,#btn-ver-cursos{
        width: 100%;
       }
    #title-mensajebanner, #title-mensajebanner1,#title-mensajebanner2{
        font-size: 50px;
        left: 0px;
    }
    button#enviar-imageIA {
        width: 100%;
        margin-top: 15px;
    }
    div#btn-chat-tabs {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    div#btn-chat-images {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    ul#ul-menu-responsive{
        width: 100%;
    }
    #content-chat-consulta{
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    #content-texto{
        display: flex;
        flex-direction: column;
    }
    #content-index-chatgpt{
        width: 100%;
        margin-top: 20px;
    }
    #content-index-image-chatgpt{
        width: 100%;
    }
    img#img-aspecto-basicp-chatgpt{
        width: 100%;
    }
}

.container-main {
    background-color: #f6e9f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* align-items: flex-start; */
    align-items: space-between;
    justify-content: space-between;
}
.menu-header{
    height: 90px;
    background-color: #202B46;
}
.container-blog {
    background: #fff;
    margin: 0 auto;
    width: 78%;
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
}

.loader {
    color: #000;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-left: 50px;
    margin-top: 45px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
    
      

  .loaderSpinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotationspiner 1s linear infinite;
    }

    @keyframes rotationspiner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 